/** Colors **/
:root {
  --color-border: #c9c9c9; }

/* Tables */
table td {
  vertical-align: top;
  border-right: 1px dotted #A0A0A0;
  border-top: 1px dotted #A0A0A0;
  padding: 0.3em; }

table {
  border: 1px solid #A0A0A0;
  border-spacing: 0; }

table tr th {
  background-color: #ededee; }

/**
 * Code.
 */
code {
  color: #222;
  background-color: #F5F5F5; }

pre {
  color: #222;
  background-color: #F5F5F5;
  padding: 1rem; }

pre > code {
  color: inherit;
  background-color: inherit; }

/**
 * Links.
 */
a {
  text-decoration: none; }

/**
 * Custom Bootstrap elements.
 */
#landing-page-cards .card {
  height: 100%; }

.navbar-brand img {
  margin-right: 0.2rem; }

.nav-link span {
  opacity: 0.7;
  margin-right: 0.1rem; }

#jumbotron a span {
  margin-right: 0.3rem; }

/* single */
main article {
  width: 100%;
  /* To prevent long lines of code pushing content over the edge of the visible viewport. */
  /* Ditto the above, but for images. */ }
  main article pre {
    white-space: break-spaces; }
  main article img {
    max-width: 100%; }

main aside.d-xl-flex {
  width: 17rem;
  border-left: 1px solid var(--color-border); }
  main aside.d-xl-flex h2 {
    padding: 0 0 0 1rem; }
  main aside.d-xl-flex nav ul {
    list-style: none;
    padding: 0 0 0 1rem;
    margin: 0; }
