body {
  background-color: #272727;
  color: #333;
  font: normal 11pt/17pt Arial,Helvetica,sans-serif;
  margin: 0;
}  

a, a:visited {
 color: #c43187;
}

a:hover {
 color: #e4399d;
}

h1,h2,h3,h4,h5,h6 {
  color: #6f3f00;
}

#content {
 margin: 50px 100px 100px 300px;
 padding: 0 30px 40px;
 background-color: #fff;
}

#content h1,h2,h3,h4,h5,h6 {
  color: #6f3f00;
  border-bottom: 1px solid #ffdaae;
  font: normal 20pt Arial,Helvetica,sans-serif;
  margin:0 0 15px;
  padding:25px 0 10px;
}

#content h2 {
  color: #955500;
  font-size: 18pt;
  padding: 25px 0 8px;
}

#content h3 { 
  border-bottom: none;
  color: #688a6f;
  font-size: 16pt;
  margin-bottom: 0;
}

#navigation {
  font-size: 85%;
  color: #333;
  float: left;
  padding: 20px 3px 3px 15px;
  position: fixed;
  top: 10px;
}

#navigation img {
  padding-bottom: 20px;
}

#navigation h1 {
  background-color: #7cba6e;
  color: #000;
  font-size: 1.1em;
  padding: 0.2em 0.5em;
  margin: 1em 1em 0.1em;
}

#navigation ul {
  margin: 0 1em;
  padding: 0 0.5em;
  list-style: none outside none;
}

#navigation li {
  margin: 0;
  padding: 0;
}

#navigation li a, #navigation li a:visited {
  margin: 0;
  padding: 0 0.5em;
  background-color: #404d42;
  color: #ececec;
  padding:1px 5px;
  text-decoration:none;
}

#navigation li a:hover {
  background-color: #7cba6e;
  color: #000;
}

#footer {
  background-color:#404040;
  color:#717171;
  font-size: 80%;
  margin: 0 100px 0 300px;
  padding: 10px 30px;
}

#footer a, #footer a:visited {
  color: #af8f66;
}

#footer a:hover {
  color: #dcb27e;
}
