body {
  color: white;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11pt;
  margin: 0;
}

a {
  color: #339;
  text-decoration: none;
}

a:visited {
 color: #369;
}

a:hover {
 color: #ddf;
 background-color: #6badff;
}

h1,h2,h3,h4,h5,h6 {
  color: #6f3f00;
}

#content {
 margin-top: 15px;
 margin-left: 200px;
 margin-right: 200px;
 padding: 0 8px 40px;
 color: black;
 background: white;
}

#content h1,h2,h3,h4,h5,h6 {
  color: #955500;
  border-bottom: 1px solid #ffdaae;
  font-weight: normal;
  margin:0 0 15px;
  padding: 10px 0 10px;
}

#content h1 {
  font-size: 18pt;
  border: 1px solid #ffdaae;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
}

#content h2 {
  font-size: 16pt;
}

#content h3,h4,h5,h6 {
  border-bottom: none;
  color: #688a6f;
  font-size: 14pt;
  margin-bottom: 0;
}

#navigation {
  border: 1px solid #ffdaae;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 85%;
  color: #003;
  float: left;
  padding: 8px;
  width: 160px;
  background: white;
  margin-left: 10px;
  margin-right: 10px;
}

#navigation img {
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#navigation h1 {
  color: #000;
  font-size: 1.1em;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.1em;
  border-bottom: 1px dotted #3487ef;
}

#navigation ul {
  margin: 0 0;
  padding: 0;
  list-style: none;
}

#navigation li {
  margin: 0;
  padding: 0;
}

#navigation li a {
  margin: 0;
  color: #003;
  text-decoration:none;
}

#navigation li a:visited {
  color: #226;
}

#navigation li a:hover {
  background-color: #6badff;
  color: #000;
}

#footer {
 margin-top: 15px;
 margin-left: 200px;
 margin-right: 200px;
 border: 1px solid #ffdaae;
 -moz-border-radius: 10px;
 border-radius: 10px;
 background-color:#b0b0b0;
  color:#336;
  font-size: 80%;
  padding: 0 8px;
}

/* definition lists */
dd {}
dl {}
dt {
  display: inline;
}