body {
  background-color: #c2d7f1;
  color: #002;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11pt;
  margin: 0;
}

a, a:visited {
 color: #c43187;
}

a:hover {
 color: #e4399d;
}

h1,h2,h3,h4,h5,h6 {
  color: #6f3f00;
}

#content {
 margin-top: 20px;
 margin-left: auto;
 margin-right: auto;
 width: 80%;
 padding: 0 30px 40px;
 border: 1px solid #ffdaae;
 -moz-border-radius: 10px;
 border-radius: 10px;
 color: black;
}

#content h1,h2,h3,h4,h5,h6 {
  color: #6f3f00;
  border-bottom: 1px solid #ffdaae;
  font-weight: normal;
  margin:0 0 15px;
  padding:25px 0 10px;
}

#content h1 {
  font-size: 18pt;
}

#content h2 {
  color: #955500;
  font-size: 16pt;
}

#content h3,h4,h5,h6 {
  border-bottom: none;
  color: #688a6f;
  font-size: 14pt;
  margin-bottom: 0;
}

#navigation {
  border: 1px solid #ffdaae;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 85%;
  color: #003;
  float: left;
  padding: 20px 3px 3px 15px;
  margin-top: 20px;
  width: 10%;
}

#navigation img {
  padding-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

#navigation h1 {
  color: #000;
  font-size: 1.1em;
  padding: 0.2em 0.5em;
  margin: 1em 1em 0.1em;
  border-left: 3px solid #3487ef;
  border-bottom: 1px solid #3487ef;
}

#navigation ul {
  margin: 0 1em;
  padding: 0 0.5em;
  list-style: none;
}

#navigation li {
  margin: 0;
  padding: 0;
}

#navigation li a {
  margin: 0;
  padding: 0 0.5em;
  color: #003;
  padding:1px 5px;
  text-decoration:none;
}

#navigation li a:visited {
  color: #226;
}

#navigation li a:hover {
  background-color: #6badff;
  color: #000;
}

#footer {
  background-color:#404040;
  color:#717171;
  font-size: 80%;
  margin: 0 100px 0 300px;
  padding: 10px 30px;
}

#footer a, #footer a:visited {
  color: #af8f66;
}

#footer a:hover {
  color: #dcb27e;
}
