body {
  color: white;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11pt;
  margin: 0;
}

a {
  color: #339;
  text-decoration: none;
}

a:visited {
 color: #369;
}

a:hover {
 color: #ddf;
 background-color: #6badff;
}

h1,h2,h3,h4,h5,h6 {
  color: #6f3f00;
}

#content {
 margin-top: 22px;
 margin-left: 200px;
 margin-right: 20px;
 padding: 0 0 40px;
 color: black;
 background: white;
 line-height: 150% ;
}

#content h1,h2,h3,h4,h5,h6 {
  color: #955500;
  border-bottom: 1px solid #ffdaae;
  font-weight: normal;
  margin: 10px 0 15px;
  padding: 5px 0;
}

#content h1 {
  font-size: 18pt;
  border: 1px solid #ffdaae;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

#content h2 {
  font-size: 16pt;
}

#content h3,h4,h5,h6 {
  border-bottom: none;
  color: #688a6f;
  font-size: 14pt;
  margin-bottom: 0;
}

/* left navigation */
#navigation {
  border: 1px solid #ffdaae;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 85%;
  color: #003;
  float: left;
  padding: 8px;
  width: 160px;
  background: white;
  margin-left: 10px;
  margin-right: 10px;
}

#logoblock {
  padding: 8px;
  width: 160px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

#logoblock img {
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#navigation h1 {
  color: #000;
  font-size: 1.1em;
  padding: 0;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
  border-bottom: 1px dotted #3487ef;
}

#navigation ul {
  margin: 0 0 0 5px;
  padding: 0;
  list-style: none;
}

#navigation li {
  margin: 0;
  padding: 0;
}

#navigation li a {
  margin: 0;
  color: #003;
  text-decoration:none;
}

#navigation li a:visited {
  color: #226;
}

#navigation li a:hover {
  background-color: #6badff;
  color: #000;
}

#navigation li.selected {
  list-style-type: square;
  color: #04A0D8;
}

#navigation li.selected a {
  color: #04A0D8;
  font-weight: normal;
}

#navigation li.selected > ul, #navigation li.selected > ul a {
  color: #003;
}

#navigation ul ul {
    padding-left: 0.75em;
}

/* footer */

#footer {
  margin-top: 15px;
  margin-left: 200px;
  margin-right: 20px;
  border: 0;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color:#d0d0d0;
  color:#669;
  font-size: 80%;
  padding: 0 8px;
  text-align: center;
}

/* definition lists */
dd {}
dl {}
dt {
  display: inline;
  float: left;
}

/* rounding */
.round-10 {
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.round-8 {
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.round-top-10 {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}
.round-top-8 {
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
}

/* tabs */
#topmenu {
  font-size: 10pt;
  line-height: 20px;
  margin-top: 0.5em;
  padding-top: .6em;
  padding-bottom: 0;
  background: #0CA3D9 url('../images/title-fill-2.png') repeat-x;
}

#topmenu ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0 none;
}

#topmenu li {
  display: inline;
  margin-right: .15em;
  background-color: white;
  margin-top: 2px;
}

#topmenu li.last {
  margin-right: 0;
}

#topmenu li a {
  color: #955500;
  padding: 0px 12px;
  text-decoration: none;
  background: white;
}

#topmenu li a.selected {
  border-bottom: 2px solid white;
}

.selected {
  font-weight: bold;
  color: black;
}


/* title block */

#titleblock {
  margin-left: 200px;
  margin-right: 20px;
}

#header h1 {
  color: black;
  margin-left: 0;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#header {
  margin-top: 2px;
}


/* utility */

.clear {
  clear: both;
}

/* code blocks */
.codehilite {
  margin-left: 1.5em;
  padding-left: 1.2em;
  background-color: #ededee;
  border: 1px dotted #688a6f;
  border-radius: 5px;
  line-height: 120% ;
}

/* Tables */
table td {
  vertical-align: top;
  border-right: 1px dotted #688a6f;
  border-top: 1px dotted #688a6f;
  padding: 0.2em;
}

table {
  border: 1px solid #ededee;
  border-spacing: 0;
}

table tr th {
  background-color: #ededee;
}

table tr {
}

