/* Tables */
table td {
  vertical-align: top;
  border-right: 1px dotted #688a6f;
  border-top: 1px dotted #688a6f;
  padding: 0.2em;
}

table {
  border: 1px solid #404040 ;
  border-spacing: 0;
}

table tr th {
  background-color: #ededee;
}
