/* Tables */
table td {
  vertical-align: top;
  border-right: 1px dotted #A0A0A0;
  border-top: 1px dotted #A0A0A0;
  padding: 0.3em;
}

table {
  border: 1px solid #A0A0A0 ;
  border-spacing: 0;
}

table tr th {
  background-color: #ededee;
}

code { color: #222 ; background-color: #F5F5F5 ; }